@model HouseRent.Models.LoginModel
@{
    ViewBag.Title = "登陆";
}

<div id="login">
    <h3>@ViewBag.Title</h3>
    <div class="loginForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <p>
                用户名：@Html.TextBoxFor(m => m.UserName)
                <span style="color:red">@Html.ValidationMessageFor(m => m.UserName)</span>
            </p>
            <p>
                密&nbsp;&nbsp;&nbsp;码: @Html.PasswordFor(m => m.Password)
                <span style="color:red"> @Html.ValidationMessageFor(m => m.Password)</span><br>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </p>

            <p class="btnBox">
                <input type="submit" value="立即登录" class="buttons" />
                <input type="button" value="注册" class="buttons" onclick="location.href='@Url.Action("register")'" />
            </p>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
