@model HouseRent.Models.User

@{
    ViewBag.Title = "登录";
}

<div id="login">
    <h3>@ViewBag.Title</h3>
    <div class="loginForm">
        @using (Html.BeginForm())
        {
              @Html.AntiForgeryToken()
              @Html.ValidationSummary(true)
              <p>                  
            用户名：@Html.TextBoxFor(m => m.LoginName)
            <span style="color:red">@Html.ValidationMessageFor(m => m.LoginName)</span>
        </p>
        <p>
            密&nbsp;&nbsp;&nbsp;码: @Html.PasswordFor(m=>m.Password)
            <span style="color:red"> @Html.ValidationMessageFor(m=>m.Password)</span>
        </p>
            
        <p class="btnBox">
            <input type="submit" value="立即登录" class="buttons" />
            <input type="button" value="注册" class="buttons" onclick="location.href='@Url.Action("register")'"/>
        </p>
        }
       
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
